<footer>
	<div class="wrapper">
	  <div class="status">
	    <a href="/">
        <div class="icon icon-logo inverted logo">
          <div class="{% if site.available %}available{% else %}busy{% endif %} dot">
            <div class="tooltip">{% if site.available %}available{% else %}busy{% endif %}</div>
          </div>
        </div>
      </a>
	    <div class="message">
	    	<a href="mailto:hello@nelo.ph">
	    		{% if site.available %}
	    			I'm currently available to work on new projects. Feel free to send an e-mail!
	    		{% else %}
	    			I'm currently working on something awesome. Still, feel free to reach out!
	    		{% endif %}
	    	</a>
	    </div>
	    <div class="last-update">Updated: February 6, 2017</div>
	  </div>
	  <div class="contact">
	  	<div class="field">
	  		<label>
	  			<i class="icon icon-mail"></i>
	  		</label>
	  		<a href="mailto:hello@nelo.ph" class="value">hello@nelo.ph</a>
	  	</div>
	  	<div class="field">
	  		<label>
	  			<i class="icon icon-pin"></i>
	  		</label>
	  		<a href="https://goo.gl/maps/uyw7W9wr1AD2" target="blank" class="value">223 Rainbow Ave., Rainbow Village, Kalayaan, Angono, Rizal, 1930 PH</a>
	  	</div>
	  	<div class="field">
	  		<label>
	  			<i class="icon icon-phone"></i>
	  		</label>
	  		<a href="tel:+639168375550" class="value">+63 916 837 5550</a>
	  	</div>
	  </div>
	  <div class="elsewhere">
	  	<div class="field">
	  		<label>
	  			<i class="icon icon-github"></i>
	  		</label>
	  		<a href="//github.com/nelonoel" target="blank" class="value"><span class="verb">Follow on </span>Github</a>
	  	</div>
	  	<div class="field">
	  		<label>
	  			<i class="icon icon-linkedin"></i>
	  		</label>
	  		<a href="//linkedin.com/in/nelonoel" target="blank" class="value"><span class="verb">Connect on </span>LinkedIn</a>
	  	</div>
	  	<div class="field">
	  		<label>
	  			<i class="icon icon-skype"></i>
	  		</label>
	  		<a href="skype:live:aaronnoeldeleon?add" class="value"><span class="verb">Add on </span>Skype</a>
	  	</div>
	  	<div class="field">
	  		<label>
	  			<i class="icon icon-file"></i>
	  		</label>
	  		<a href="/cv.pdf" target="blank" class="value"><span class="verb">Download </span>CV</a>
	  	</div>
	  </div>
  </div>
</footer>
<script src="/assets/js/lib/zepto.min.js"></script>
<script src="/assets/js/main.js"></script>
{%for script in page.scripts %}
<script type="text/javascript" src="{{script}}"></script>
{%endfor%}
{% include ga.html %}
