<header>
  <div class="wrapper">
    <div class="site-title">
      <a href="/">
        <div class="icon icon-logo logo">
          <div class="{% if site.available %}available{% else %}busy{% endif %} dot">
            <div class="tooltip">{% if site.available %}available{% else %}busy{% endif %}</div>
          </div>
        </div>
      </a>
    </div>
    <div id="nav-icon">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <nav class="site-nav">
      <div class="nav-wrapper">
        <div class="nav-center">
          <ul>
            <li>
              <a href="/#about">About</a>
            </li>
            <li>
              <a href="/#works">Works</a>
            </li>
            <li>
              <a href="/blog">Blog</a>
            </li>
            <li>
              <a href="mailto:hello@nelo.ph">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
