<header>
  <div class="wrapper">
    <div class="site-title">
      <a href="/">
        <div class="icon icon-logo logo">
          <div class="dot">
            <div class="tooltip">For Hire!</div>
          </div>
        </div>
      </a>
    </div>
    <nav class="site-nav">
      <ul>
        <li>
          <a href="#about">About</a>
        </li>
        <li>
          <a href="#works">Works</a>
        </li>
        <li>
          <a href="mailto:aaronnoeldeleon@gmail.com">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
