.landing {
	@include cf();
	.services {
		background: white urlassets/img/services-bg.png) bottom center no-repeat;
		background-size: $medium-landscape;
		padding: 4.5em 0;

		.service {
			@include column(1/2, $gutter: 8);

			label {
				@include heading-text();
				font-size: 1.15em;
				font-weight: 600;
				letter-spacing: 0.5em;
				text-transform: uppercase;
				white-space: nowrap;

				.icon {
					letter-spacing: 0.15em;
					margin-right: 0;
				}
			}

			p {
				color: lighten($text-color, 5%);
				font-size: 1.25em;
				line-height: 1.5;
				margin: 1em 0 0;

				&:nth-child(2) {
					margin-top: 0.5em;
				}
			}
		}

		@include media-query($medium-landscape) {
			background-size: 105%;
		}

		@include media-query($large-portrait) {
			font-size: 0.9em;
			padding: 3.5em 0;

			.service {
				@include column(1/2, $gutter: 6);
			}
		}

		@include media-query($medium-portrait) {
			.service {
				@include column(1);
				margin-bottom: 2.5em;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}

	.featured {
		@include cf();
		padding-top: 4em;

		.mock {
			background: transparent top center no-repeat;
			background-size: cover;
			height: $medium-portrait;
			overflow: hidden;

			&.left {
				@include column(6/12);
				@include shift(-4/12);
				background-image: urlassets/img/works/phaxio/desktop-mock.png);
				background-position-x: right;
			}
			&.right {
				@include column(2/12);
				background-image: urlassets/img/works/phaxio/iphone-mock.png);
				background-position-x: left;
			}
		}

		&.entered {
			.logo,
			.category,
			h3,
			p,
			.actions {
				// @include transition-slide-up-enter();
			}
		}

		.meta {
			@include column(4/12);
			@include shift(6/12);
			box-sizing: border-box;
			padding: 0 2em;
			margin-top: 4em;
		}
		.logo {
			// @include transition-slide-up(0.15s);
			height: auto;
			max-width: 7em;
			width: 100%;
		}
		.category {
			// @include transition-slide-up(0s);
			@include heading-text();
			border-left: lighten($muted-text-color, 15%) solid 3px;
			color: $muted-text-color;
			font-size: 0.8em;
			font-weight: 600;
			letter-spacing: 3px;
			margin-bottom: 3em;
			padding: 0.25em 1em;
			text-transform: uppercase;
		}
		h3 {
			// @include transition-slide-up(0.3s);
			color: lighten($text-color, 15%);
			margin: 0.5em 0 1em 0;
		}
		p {
			// @include transition-slide-up(0.45s);
			color: lighten($text-color, 5%);
			font-size: 1.25em;
			margin-top: 0.5em;
		}
		.actions {
			// @include transition-slide-up(0.6s);
			margin-top: 3em;
		}

		@include media-query($medium-landscape) {
			.mock {
				&.left {
					@include column(4/12);
					@include shift(-6/12);
				}
				&.right {
					@include column(2/12);
				}
			}
			.meta {
				@include column(6/12);
				@include shift(4/12);
			}
		}

		@include media-query($large-portrait) {
			padding-top: 3em;
			.mock {
				&.left {
					display: none;
					@include unshift();
				}
				&.right {
					@include column(4/12);
				}
			}
			.meta {
				@include column(8/12);
				@include unshift();
			}
		}

		@include media-query($medium-portrait) {
			.meta {
				margin: 0 0 4em 0;
			}
			.category {
				margin-bottom: 2em;
			}
		}

		@include media-query($small-landscape) {
			text-align: center;
			.category {
				border: none;
				margin-bottom: 0.5em;
			}
			.mock {
				height: $tiny-landscape;

				&.left {
					@include column(9/12);
					background-size: $medium-portrait;
					display: block;
				}
				&.right {
					@include column(3/12);
				}
			}
			.meta {
				@include column(1);
				font-size: 0.9em;

				.logo {
					max-width: 6em;
				}
			}
		}
	}

	.works {
		@include cf();
		.work {
			background: desaturate(darken($vyllage-blue, 30%), 30%) center center
				no-repeat;
			background-blend-mode: hard-light;
			background-size: cover;
			box-sizing: border-box;
			height: 15em;
			overflow: hidden;
			padding: 2em;
			position: relative;
			text-align: center;

			&:hover {
				.logo {
					opacity: 0;
					transform: translateY(-50%) scale(0.8);
				}
				.overlay {
					opacity: 1;
					transform: scale(1);
				}
			}

			@include media-query($medium-landscape) {
				font-size: 0.825em;
				height: 16em;

				.logo {
					max-height: 3em;
					max-width: 7.5em;
				}
			}

			@include media-query($large-portrait) {
				@include column(1/2);

				&.carful {
					@include column(1);
				}
			}

			@include media-query($small-landscape) {
				@include column(1);
				font-size: 0.9em;
				height: 12.5em;
			}
		}

		.bugwolf {
			background-image: url(assets/img/works/bugwolf/banner.jpg);
		}

		.auto-exam {
			background-image: url(assets/img/works/auto-exam/banner.jpg);
		}

		.faster-forward {
			background-image: url(assets/img/works/faster-forward/banner.jpg);
		}

		.carful {
			background-image: url(assets/img/works/carful/banner.jpg);
		}

		.vyllage {
			background-image: url(assets/img/works/vyllage/banner.jpg);
		}

		.movie-tv {
			background-image: url(assets/img/works/movie-tv/banner.jpg);
		}

		.mana {
			background-image: url(assets/img/works/mana/banner.jpg);
		}

		.devportal {
			background-image: url(assets/img/works/devportal/banner.jpg);
		}

		.barrel-and-stone {
			background-image: url(assets/img/works/barrel-and-stone/banner.jpg);
		}

		.logo {
			@include vertical-center();
			margin: auto;
			max-height: 3.5em;
			max-width: 9em;
			opacity: 1;
			text-align: center;
			transform: translateY(-50%) scale(1);
			transition: all 0.25s ease;
		}

		.overlay {
			@include overlay();
			background: rgba(black, 0.25);
			opacity: 0;
			color: $inverted-text-color;
			transform: scale(1.1);
			transition: all 0.35s ease;

			.content {
				@include vertical-center();
				padding: 2em;

				p {
					color: rgba($inverted-text-color, 0.75);
					font-size: 1.15em;
					pointer-events: none;
				}
			}

			.title {
				@include heading-text();
				pointer-events: none;
			}

			.actions {
				font-size: 1.15em;
				margin-top: 1.75em;
			}
		}
	}

	.contact {
		background-color: white;
		overflow: hidden;
		padding: 10em 0;
		position: relative;
		text-align: center;
		z-index: 0;

		&:before {
			@include pseudo-element();
			@include overlay();
			background: white url(assets/img/workspace.jpg) bottom center no-repeat;
			background-size: $medium-landscape;
			z-index: 1;
		}

		.wrapper {
			max-width: $medium-portrait;
			position: relative;
			z-index: 2;
		}

		h1 {
			font-size: 2.5em;
		}

		p {
			color: lighten($text-color, 5%);
			font-size: 1.35em;
			margin-top: 0.15em;
		}

		.button {
			font-size: 1.2em;
			margin-top: 2em;
		}

		@include media-query($medium-landscape) {
			font-size: 0.9em;
		}

		@include media-query($small-landscape) {
			h1 {
				font-size: 1.55em;
			}
		}
	}
}
