.landing {
	@include cf();
	.services {
		background: white url(/assets/img/services-bg.png) bottom center no-repeat;
		background-size: $medium-landscape;
		padding: 4.5em 0;

		.service {
			@include column(1/2, $gutter: 8);

			label {
				@include heading-text();
				font-size: 1.15em;
				font-weight: bold;
				letter-spacing: 10px;
				text-transform: uppercase;

				.icon {
					margin-right: 0;
				}
			}

			p {
				color: lighten($text-color, 5%);
				font-size: 1.25em;
				line-height: 1.5;
				margin: 1em 0 0;

				&:nth-child(2) {
					margin-top: 0.5em;
				}
			}
		}
	}

	.featured {
		@include cf();
		padding-top: 4em;

		.mock {
			background: transparent top center no-repeat;
			background-size: cover;
			height: $medium-portrait;
			overflow: hidden;

			&.left {
				@include column(3/6);
				background-image: url(/assets/img/works/vyllage/desktop-mock.png);
				background-position-x: right;
			}
			&.right {
				@include column(1/6);
				background-image: url(/assets/img/works/vyllage/iphone-mock.png);
				background-position-x: left;
			}
		}
		.meta {
			@include column(2/6);
			box-sizing: border-box;
			padding: 0 2.5em;
			margin-top: 4em;
		}
		.logo {
			height: 1.65em;
			width: auto;
		}
		.category {
			@include heading-text();
			border-left: lighten($muted-text-color, 15%) solid 3px;
			color: $muted-text-color;
			font-size: 0.8em;
			font-weight: bold;
			letter-spacing: 3px;
			margin-bottom: 3em;
			padding: 0.25em 1em;
			text-transform: uppercase;
		}
		h3 {
			color: lighten($text-color, 15%);
			margin: 0.5em 0 1em 0;
		}
		p {
			color: lighten($text-color, 5%);
			font-size: 1.25em;
			margin-top: 0.5em;
		}
		.actions {
			margin-top: 3em;
		}
		.button {
			@include button-color($vyllage-orange);
		}
	}

	.works {
		@include cf();
		.work {
			background: $vyllage-navy center center no-repeat;
			background-blend-mode: hard-light;
			background-size: cover;
			box-sizing: border-box;
			height: 14em;
			overflow: hidden;
			padding: 2em;
			position: relative;
			text-align: center;

			&:hover {
				.logo {
					opacity: 0;
					transform: translateY(-50%) scale(0.8);
				}
				.overlay {
					opacity: 1;
					transform: scale(1);
				}
			}
		}

		.mana {
			background-image: url(/assets/img/works/mana/banner.jpg);
		}

		.devportal {
			background-image: url(/assets/img/works/devportal/banner.jpg);
		}

		.barrel-and-stone {
			background-image: url(/assets/img/works/barrel-and-stone/banner.jpg);

			.button {
				@include button-color(lighten($vyllage-navy, 5%));
			}
		}

		.logo {
			@include vertical-center();
			margin: auto;
			max-height: 3.5em;
			max-width: 9em;
			opacity: 1;
			text-align: center;
			transform:  translateY(-50%) scale(1);
			transition: all .3s ease;
		}

		.overlay {
			@include overlay();
			background: rgba(black, 0.25);
			opacity: 0;
			color: $inverted-text-color;
			transform: scale(1.1);
			transition: all .4s ease;

			.content {
				@include vertical-center();
				padding: 2em;

				p {
					color: rgba($inverted-text-color, 0.75);
					font-size: 1.15em;
				}
			}

			.title {
				@include heading-text();
			}

			.actions {
				margin-top: 1.75em;
			}
		}
	}

	.contact {
		background: $inverted-text-color;
		padding: 9em 0;
		text-align: center;

		.wrapper {
			max-width: $medium-portrait;
		}

		h1 {
			font-size: 2.5em;
		}

		p {
			color: lighten($text-color, 5%);
			font-size: 1.35em;
		}

		.button {
			font-size: 1.2em;
			margin-top: 2em;
		}
	}
}
