footer {
	@include heading-text();
	background: $footer-background url(assets/img/footer-bg.jpg) center center
		no-repeat;
	background-size: cover;
	color: $footer-color;
	padding: 2.25em 0;
	position: relative;
	z-index: 4;

	a {
		color: $footer-color;
		display: inline-block;

		&:hover {
			color: $inverted-text-color;
			text-decoration: none;
		}
	}

	.field {
		@include column(1);
		cursor: pointer;
		margin-bottom: 0.75em;

		&:last-child {
			margin-bottom: 0;
		}

		label {
			@include column(1/8);
			color: $inverted-text-color;
			text-align: right;
		}

		.value {
			@include column(7/8);
			font-weight: 600;
			line-height: 1.6;
		}
	}

	.status {
		@include column(3/12);

		.message {
			display: block;
			font-size: 0.85em;
			font-weight: 600;
			margin: 0.65em 0 0.35em;
		}

		.last-update {
			color: $gray-color-dark;
			font-size: 0.75em;
			font-weight: 600;
		}
	}
	.contact {
		@include column(4/12, 1/12);
		font-size: 0.85em;
	}
	.elsewhere {
		@include column(3/12, 1/12);
		font-size: 0.85em;

		.field {
			margin-bottom: 0.3em;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	@include media-query($medium-landscape) {
		.contact {
			@include column(5/12, 1/12);
		}
		.elsewhere {
			@include column(2/12, 1/12);
			label,
			.value {
				float: none;
				display: inline;
				white-space: nowrap;
			}
			.verb {
				display: none;
			}
		}
	}

	@include media-query($large-portrait) {
		.status {
			font-size: 0.95em;
		}
	}

	@include media-query($medium-portrait) {
		.status {
			@include column(5/12);
		}
		.contact {
			@include column(6/12, 1/12);
			font-size: 0.8em;
		}
		.elsewhere {
			@include column(1);
			border-top: darken($text-color, 5%) solid 1px;
			margin: 1.75em 0 -1.5em 0;
			padding-top: 1em;

			.field {
				@include column(1/4);
			}
		}
	}

	@include media-query($small-landscape) {
		.status {
			@include column(1);
			max-width: $tiny-landscape;
		}
		.contact {
			@include column(1);
			margin-top: 2em;
			max-width: $tiny-landscape;

			.field {
				label,
				.value {
					float: none;
					vertical-align: top;
				}
			}
		}
		.elsewhere {
			text-align: left;
			.field {
				@include column(1/2);
			}
		}
	}
}
