.logo {
	color: $text-color;
	font-size: 1.75em;
	position: relative;
	z-index: 4;

	&.inverted {
		color: $inverted-text-color;
	}

	&:hover .dot .tooltip {
		opacity: 1;
		transform: scale(1) translateX(0);
		transition-delay: .2s;
	}


	.dot {
		background: $brand-color-2;
		border-radius: 100%;
		display: inline-block;
		height: 0.25em;
    margin-bottom: -0.0625em;
    margin-left: 0.125em;
    position: relative;
		width: 0.25em;

		&.available {
			background: $brand-color-2;
		}

		&.busy {
			background: $brand-color;

			.tooltip {
				background: $brand-color;
				border-bottom-color: darken($brand-color, 10%);

				&:before {
					border-bottom-color: $brand-color;
					box-shadow: 0 1px 0 darken($brand-color, 10%);
				}
			}
		}

		.tooltip {
			@include heading-text();
			background: $brand-color-2;
			border-radius: 0.25em;
			border-bottom: darken($brand-color-2, 10%) solid 1px;
			bottom: 0.25em;
			color: $inverted-text-color;
			font-size: 0.35em;
			font-weight: bold;
			left: 1.4em;
			opacity: 0;
			padding: 0.5em 0.7em 0.3em;
			pointer-events: none;
			position: absolute;
			text-shadow: 0 1px 0 rgba(0,0,0,0.1);
			text-transform: uppercase;
			transform: scale(0) translateX(-1.75em);
			transform-origin: bottom left;
			transition: all .2s ease;
			white-space: nowrap;

			&:before {
				border-bottom: 0.4em solid $brand-color-2;
				border-left: 0.4em solid transparent;
				border-right: 0.4em solid transparent;
				bottom: 0;
				box-shadow: 0 1px 0 darken($brand-color-2, 10%);
				content: '';
				display: inline-block;
				height: 0;
				left: -0.3em;
				position: absolute;
				width: 0;
			}
		}
	}
}