.poster {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	color: $inverted-text-color !important;
	display: inline-block;
	height: $medium-portrait - 5;
	margin-bottom: -0.35em;
	overflow: hidden;
	position: relative;
	text-align: center;
	width: 100%;

	&.dim:before,
	&:before {
		@include overlay();
		background-color: rgba(30, 30, 30, 0.6);
		content: '';
		display: inline-block;
		z-index: 1;
	}

	.content {
		@include vertical-center();
		font-size: 1.35em;
		margin: -2em auto 0 auto;
		padding: 0 2rem;
		max-width: $medium-landscape;
		z-index: 2;

		.category {
			@include heading-text();
			color: rgba($inverted-text-color, 0.8);
			font-size: 0.6em;
			font-weight: 600;
			letter-spacing: 5px;
			text-transform: uppercase;
		}

		.title {
			@include heading-text();
			color: $inverted-text-color;
			font-weight: 600;
			font-size: 1.9em;
		}

		.subheading {
			@include base-text();
			color: rgba($inverted-text-color, 0.8);
			font-size: 1.15em;
			font-weight: 400;
			margin-top: 0.25em;
			letter-spacing: -0.02em;
			line-height: 1.6;
		}
	}

	.meta {
		@include heading-text();
		padding: 2em 1em;
		position: absolute;
		text-align: center;

		right: 0;
		bottom: 0;
		left: 0;

		.author {
			.avatar {
				background-color: white;
				background-image: url(/assets/img/avatar.jpg);
				background-size: cover;
				border: white solid 1px;
				border-radius: 50%;
				display: inline-block;
				height: 2.5em;
				width: 2.5em;
			}
			.name {
				font-size: 0.75em;
				font-weight: 600;
				letter-spacing: 3px;
				margin-top: 0.75em;
				text-transform: uppercase;
			}
			.date {
				display: inline;
				font-size: 0.75em;
				letter-spacing: 2px;
			}
			.length {
				display: inline;
				font-size: 0.75em;
				letter-spacing: 2px;

				&:before {
					content: '•';
					display: inline-block;
					margin: 0 0.75em 0 0.6em;
				}
			}
		}
	}

	video {
		left: 50%;
		top: 50%;
		min-height: 100%;
		min-width: 100%;
		position: absolute;
		transform: translateX(-50%) translateY(-50%);
		z-index: 0;
	}

	&.inverted {
		&:before {
			background-color: rgba(255,255,255,0.85);
		}
		.content {
			.title {
				color: $text-color;
			}
			.subheading {
				color: $gray-color-dark;
			}
		}
	}
}

.landing {
	.poster {
		background-image: url(/assets/img/landing-banner.jpg);
		background-size: cover;

		video {
			opacity: 0;
		}

		&:before {
			background-image: linear-gradient(to bottom right, #ECFFFD,#E9F1FF);
			mix-blend-mode: hard-light;
			opacity: 0.9;
		}
		.content {
			max-width: $medium-landscape;
			text-align: left;

			.title {
				@include transition-slide-up(0s);
				color: darken($vyllage-navy, 6%);
				font-size: 3em;
				line-height: 1.3;
				margin: 1em 0 0.125em;
			}

			.subheading {
				@include transition-slide-up(.2s);
				color: lighten($vyllage-navy, 4%);
				margin-bottom: 2.5em;
			}

			.button {
				@include transition-slide-up(.4s);
			}
		}

		&.enter {
			video {
				opacity: 1;
			}
			.content {
				.title,
				.subheading,
				.button {
					@include transition-slide-up-enter();
				}
			}
		}

		@include media-query($huge-portrait) {
			background-size: $huge-portrait;
		}

		@include media-query($medium-landscape) {
			font-size: 0.85em;
		}

		@include media-query($medium-portrait) {
			height: auto;

			.content {
				@include remove-vertical-center();

				.title {
					font-size: 2.25em;
				}
				.subheading {
					font-size: 1.05em;
				}
			}
		}

		@include media-query($small-landscape) {
			.content {
				text-align: center;
				.title {
					font-size: 1.5em;
				}
			}
		}

		@include media-query($tiny-landscape) {
			background-size: cover;
		}
	}
}