$text-color: #333;
$background-color: #F9F9F9;
$brand-color: #FF5F35;
$brand-color-2: #45D352;

$muted-text-color: #999;

$inverted-text-color: #FFF;
$inverted-background-color: #555;

$gray-color: #888;
$gray-color-light: lighten($gray-color, 40%);
$gray-color-dark: darken($gray-color, 25%);

$footer-background: #222;
$footer-color: #BBB;

$voyager-violet: #241F2B;
$voyager-yellow: #FBB92F;

$vyllage-orange: #FC6621;
$vyllage-blue: #1BA5E0;
$vyllage-navy: #32505E;

$barrel-and-stone-brown: #2A0E0D;