//Typography
$base-font-family: "Crimson Text", "Helvetica Neue", Helvetica, Arial, sans-serif;
$heading-font-family: "Cabin", "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size: 16px;
$base-line-height: 1.4;

$spacing-unit: 30px;