$huge-portrait: 1280px;
$huge-landscape: 1920px;

$large-portrait: 720px;
$large-landscape: 1048px;

$medium-portrait: 640px;
$medium-landscape: 960px;

$small-portrait: 320px;
$small-landscape: 480px;

$tiny-landscape: 276px;